{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title  %}
  booking
{% endblock title  %}
{% block nav2 %}
<li class="nav-item">
  <a class="nav-link p-2 mb-0 bg-white text-success active border border-dark rounded" href="{% url 'booking' %}">Booking</a>
</li>
{% endblock nav2 %}
{% block content %}
  <h1 class="text-center m-1">Make An Appointment</h1>
  <hr>
<br>

<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show border border-warning" role="alert">
    {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor%}
  {% endif%}
</div>

  <br>
  <br>
<div class="container w-50 p-3 my-20 border rounded mb-4" style="background-color:hsl(158, 45%, 74%);">
  <form action="" method="POST" autocomplete="off" class="fw-semibold">
    {% csrf_token %}
    {{form.p_name|as_crispy_field}}
    {{form.p_phone|as_crispy_field}}
    {{form.p_email|as_crispy_field}}
        <div class="row">
            <div class="col-md-8">
                {{form.doc_name|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.Booking_date|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-lg col-md-12  d-md-block"><i class="fa-solid fa-database"></i> SUBMIT</button>
            </div>
        </div>   
  </form>
</div>
<br>
<br>
{% endblock content %}