{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}home{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8"><img src="{% static '/images/home.jpg' %}" height="500"/></div>
    <div class="col-sm-4"><div class="position-relative" style="color:black; margin-top: 100px;">
      <h1>WELCOME TO<br> CITY <b class="text-success">CARE</b> HOSPITAL</h1>
       
<p><b>Your life is our priority...</b></p>

       
<p>World class best treatment and 
  laboratory facilities are available here.</p>

      <br/>
  </div>
  <div class="position-relative">
      <div class="position-absolute bottom-left">
        <a type="button" class="btn btn-success" href="{% url 'booking' %}">Booking now</a>
          <br>
      </div>
  </div>
</div>  
  {% endblock content %}