{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title  %}
  login
{% endblock title  %}
{% block navbar %}

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="collapse navbar-collapse justify-content-center col-md-8 navbar-collapse-3">
    <ul class="navbar-nav justify-content-center  fw-bold">
      <li class="nav-item">
        <a class="nav-link text-success text-center" href="#" style="margin-left:500px; font-size: 1.5rem;">LOGIN FORM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fa fa-home ms-5" href="{% url 'home' %}" style="font-size:2rem;"></a>
      </li>

      <div id="google_translate_element">

        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>

      </div>

    </ul>
</div>
{% endblock navbar %}


{% block content %}

<div class="container w-50 p-3 my-20 border rounded mt-5" style="background-color:hsl(158, 45%, 74%) ;">
  <form action="{% url 'login' %}" method="POST" autocomplete="off" class="fw-semibold">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom border-success mb-4 text-success">Login Now</legend>
        {{ form|crispy }}
        <input type="checkbox" checked="checked" name="remember"> Remember me<br>
    </fieldset>
    <br>
    <div class="form-group" id="signin-button">
      <button class="btn btn-success btn-lg col-md-2">Sign in</button>
      <small class="text-muted ms-4">don't have account,<a href="{% url 'register' %}">sign up</a></small>
    </div>
  </form>
</div>
<br>
<br>
<br>  
{% endblock content %}