{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title  %}
  change password
{% endblock title  %}
{% block navbar %}

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div class="collapse navbar-collapse justify-content-center col-md-8 navbar-collapse-3">
    <ul class="navbar-nav justify-content-center  fw-bold">
      <li class="nav-item">
        <a class="nav-link text-success text-center" href="#" style="margin-left:400px; font-size: 1.5rem;">Change password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fa fa-home ms-5" href="{% url 'home' %}" style="font-size:2rem;"></a>
      </li>

      <div id="google_translate_element">

        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>

      </div>

    </ul>
</div>
{% endblock navbar %}


{% block content %}

<div class="container w-50 p-3 my-20 border rounded mb-4" style="background-color:hsl(158, 45%, 74%) ;">
    <form action="" method="POST" autocomplete="off" class="fw-semibold">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom border-success mb-4 text-success fw-bold">Password Reset confirm</legend>
        <p>please enter your new password.</p>
          {{form.new_password1|as_crispy_field}}
          {{form.new_password2|as_crispy_field}}
      </fieldset>
              <div class="form-group" id="password-change">
                  <button type="submit" class="btn btn-success btn-lg col-md-4">Change Password</button>
              </div>
    </form>
</div>
  <br>
  <br>
{% endblock content %}